main {
    margin-top: 150px;
    text-align: center;
}

main .main-logo {
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
    
}
main .main-logo img {
    height: 92px;
    width: 272px;
}